node_modules/
dist/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.tsbuildinfo
coverage/
.env
.env.local
.env.*.local
.next/
artifacts/
cache/
typechain-types/
deployments/localhost/
.DS_Store
*.log
*.tgz
